@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
    color: rgb(125, 125, 125);
}
body {
    width: 100%;
    background: #ebebeb;
}
main {
    width: 500px;
    margin: 0 auto;
}
section {
    box-shadow: 0px 1px 4px 0px;
    color: rgba(0, 0, 0, 0.267);
    border-radius: 3px;
}
.header {
    margin: 20px 0;
    background: white;
    padding: 20px 22px 15px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}
.header img {
    border-radius: 50%;
    height: 105px;
    border: 2px solid rgb(177, 174, 174);
    margin-bottom: 20px;
}
.header h1 {
    color: rgb(221, 85, 85);
    font-weight: 800;
}
.header h2 {
    font-size: 1.2rem;
    margin: 10px;
}
.header p {
    line-height: 23px;
    font-size: 0.9rem;
    word-spacing: 2px;
}
strong {
    font-weight: 900;
    font-size: 1rem;
}
button {
    padding: 10px;
    background: rgb(221, 85, 85);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;
}
.social-network {
    background: white;
    height: 160px;
    margin-bottom: 20px;
}
ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
li {
    margin: 0 20px;
    text-align: center;
}
i {
    font-size: 1.5rem;
    color: rgb(204, 204, 204);
    margin: 5px;
}
a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-size: 0.9rem;
}
.movies {
    height: 660px;
    background: white;
    margin-bottom: 20px;
}
.movies h2 {
    font-size: 1.1rem;
    font-weight: 600;
}
.favorite-movies {
    text-align: center;
    padding-top: 35px;
    font-size: 1.3rem;
    margin-bottom: 25px;
}
.movies img {
    height: 120px;
}
.first-movie,
.second-movie,
.third-movie {
    display: flex;
    margin: 40px 30px;
    margin-right: 20px;
}
.movie-summary {
    margin-left: 20px;
}
.movie-summary h2 {
    text-align: center;
    margin-bottom: 25px;
}
.movie-summary p {
    line-height: 25px;
    font-size: 0.92rem;
    word-spacing: 2px;
}
